.banner{
	background-color:#fff0e6;
	border-bottom:1px solid #ccc;
}
.rowicon{
 font-size:3rem;
 color:#eb5d1e;
}
/* services */
.services{
	background-color:#fff0e6;
	text-align:center;
}
.ser{
	margin:auto;
	text-align:center;
}
.ser-icon{
	font-size:2rem;
	color:#eb5d1e;
	margin:auto;
}
/* portfolio */
.prot-img{
	position:relative;
}
.active{
	color:#eb5d1e !important;
}
.nav-link:hover{
	color:rgb(243, 84, 36) !important;
}
.prothover{
	position:absolute ;
	opacity:0;
	top:0;
	bottom:0;
	left:100px;
	right:0;
	background-color:rgba(0, 0, 0,0.4);
	color:white;
	z-index:997;
}
.pro-icon .i{
	display:inline-block;
}
.prothover .pro-icon iconify-icon{
	display:flex;
	background-color:#fff;
	color:#eb5d1e;
	width:50px;
	height:50px;
	margin:auto;
	border-radius:50%;
	justify-content:center;
	align-items:center; 
	font-size:1.5rem;
}
.pro-icon iconify-icon:hover{
	background-color:#ccc;
	color:black;
}
.prot-img:hover .prothover{ 
	opacity:1 !important;
	transition:0.3s;
	left:0px;
	
}
/* summary */
.faq{
	background-color:#fff0e6 !important;
}
.faqe{
	text-align:left;
}
.faqe summary:hover{
	color:#eb5d1e;
}
.faqe details{
	border-bottom:0.5px solid #ccc;
	padding-bottom:1rem;
}
/* team */
.team-i{
	position:relative;
}
.img-icon{
	position:absolute ;
	opacity:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:linear-gradient(to top,rgba(0,0,0),transparent);
	color:white;
	z-index:997;
	overflow:hidden;
}
.img-icon iconify-icon{
	color:#fff;
	font-size:1.5rem;
	left:100%;
}
.img-icon li{
	line-height:3rem;
}
.img-icon iconify-icon:hover{
	color:#eb5d1e;
}
.icon-hover{
	position:absolute ;
	background-color:rgba(0, 0 ,0,0.6); 
	color:white;
	z-index:997;
	bottom:0;
	top:0;
	margin:auto;
}
.icon-cont{
	position:absolute ;
	/* background-color:rgba(0, 0 ,0,0.5); */
	color:white;
	z-index:997;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
}
.icon-cont h5{
	margin-left:1rem;
}
.team-i:hover .img-icon{
	opacity:1;
	transition:0.5s;
}
.iconss{
	font-size:1.3rem;
	background-color:#eb5d1e;
	color:white;
	width:40px;
	height:40px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}	
.iconss:hover{
	background-color:#eb5d1e;
}
/* card border none */
.card{
	border:none !important;
	}
/* contact */
.head h2{
	color: #a6a6a6;
}
.head p::after{
	content:"";
	position:relative;
	height:3px;
	width:10%;
	margin:auto;
	display:flex;
	background-color:#eb5d1e;
	top:10px;
	border-radius:1rem;
}
.cont{
	border-bottom:3px  solid  #eb5d1e;
	border-top:3px solid #eb5d1e;
}
/* .footer */
.footer{
	background-color:#fff3e6;
}
.footer ul{
	    padding-left:0 !important;
		line-height:2rem;
}
.footer ul li a:hover{
	color:#eb5d1e;
}
.footer li .ic{
	color:#a6a6a6;
}
.foot a {
	text-decoration:none;
	color: #a6a6a6;
	line-height:1.5rem;
}
.fot p{
	color:#a6a6a6;
}
.fot span{
	color:darkgrey;
}
.copyright{
	background-color:#fff3e6;
}
.icons{
	font-size:1.3rem;
	background-color:#eb5d1e;
	color:white;
	width:40px;
	height:40px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}	

.icon li{
	padding-right:0.2rem;
	padding-left:0 !important;
}
.navbar li{
	list-style-type: none;
	margin-right:0.5rem;
}
.navbar li a{
	text-decoration: none;
	font-size: 1rem;
	color:black
}
.navbar li a:hover{
	color:#eb5d1e;
}
.icon-cont p{
	font-size: 0.8rem;
}

@media(min-width:350px){
	.clie{
		width:30%;
		margin: 1% 35%;
	}
}
@media(min-width:750px){
	.clie{
		width:28%;
		margin: 0 1rem;
	}
}
@media(min-width:990px){
	.clie{
		width:15%;
		margin: 0 0.5rem;
	}
}
.btnf{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btncolor{
	background-color:#eb5d1e;
	color:white;
}